/* Reset Styles */

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
}

/* General Styles */

body{
    background-color: rgb(16,9,44);
    color: white;
    font-family: 'Poppins', sans-serif; /*¨400 , 600 , 700 */
}

.logo{
    width: 100%;
    padding-top: 2em;
}

.logo img{
    display: block;
    margin: auto;
}